body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 2rem;
    background-color: #2C3E50; 
    color: white;
}

#nombre_cv {
    font-size: 3.5rem;
    margin: 10px 0;
}

#titulo_cv {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 0;
}

#imagen {
    text-align: center;
    margin-bottom: 1rem;
}

#foto {
    width: 192px;
    height: 287px;
    border: 4px solid #000000; 
}

section {
    padding: 2rem;
    margin: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2.5rem;
    color: #2C3E50;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 5px;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 0.5rem 0;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.2rem;
}

ul li {
    margin: 0.5rem 0;
}

#video {
    text-align: center;
    margin: 2rem 0;
}

iframe {
    border: 2px solid #3498DB; 
    border-radius: 8px;
}

#educacion, #experiencia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#habilidades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

#habilidades li {
    background-color: #ecf0f1;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #ecf0f1;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

#footerCV {
    font-size: 1.2rem;
    font-style: Arial, sans-serif;
}

/* Para pantallas de 768px o menos */
@media (max-width: 768px) {
    #nombre_cv {
        font-size: 2.5rem;
    }

    #titulo_cv {
        font-size: 1.2rem;
    }

    iframe {
        width: 100%;
        height: 315px;
    }

    #educacion, #experiencia {
        grid-template-columns: 1fr; 
    }

    #habilidades {
        grid-template-columns: 1fr 1fr; 
    }
}

/* Para pantallas de 480px o menos */
@media (max-width: 480px) {
    #nombre_cv {
        font-size: 2rem;
    }

    #titulo_cv {
        font-size: 1rem;
    }

    #habilidades {
        grid-template-columns: 1fr;
    }
}
